<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" href="assets/icon.png" />
  <link rel="stylesheet" href="style.css">

  <title>Info Web</title>
</head>

<style>
	body
	{
		width:420px;
		height: 420px;
	}
	h1
	{
		text-align: center;
	}
	form
	{
	 	text-align: center;
	}

</style>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
	<div class="w3-container w3-display-middle">
		<div class="w3-panel w3-card" style="height: 400px;">
			<h1>Amazon Reviews Scraper</h1><br><br>
			<form id="input-form" method="post" action="/">
				<input type="text" name="url" style="width: 300px;" required pattern="https://www.amazon.in/(.*)" placeholder="Amazon Product URL"/><br><br>
				<input id="submitbutton" type="submit" name="submitbutton" value="Analyze Reviews"/>
			</form>
			<script src="../popup.js"></script>
		</div>
	</div>

</body>
</html>